.dialog-bounce-enter-active {
  animation: dialog-bounce-in 0.4s;
}

.dialog-bounce-leave-active {
  animation: dialog-bounce-out 0.4s;
}

@keyframes dialog-bounce-in {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes dialog-bounce-out {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
