body {
  font-family: var(--font-be-vietnam-pro);
  background-color: var(--color-background);
}
.v-container {
  padding: var(--space-md);
}
.v-container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.v-container__body {
  margin-top: var(--space-md);
  height: calc(100vh - var(--space-md) * 3 - 60px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.v-container__button {
  display: flex;
  gap: 1rem;
}
.v-pagination {
  margin-top: var(--space-md);
  display: flex;
  justify-content: flex-end;
}
.v-table {
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius-md);
  overflow: hidden;
  flex: 1;
  &__action {
    display: flex;
    gap: 8px;
  }
}
.v-table-header {
  background-color: var(--color-primary) !important;
  color: var(--color-text-light);
}
.v-form {
  // box-shadow: var(--box-shadow);
  // box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: var(--border-radius-md);
  overflow: hidden;
  padding: var(--space-md);
  margin-bottom: var(--space-md);
  background-color: #fff;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--space-md);
    p {
      color: var(--color-warning);
      font-weight: bold;
    }
  }
}
.scope {
  display: inline-block;
  padding: 4px 12px;
  border-radius: var(--border-radius-md);
  font-size: 12px;
  font-weight: 500;
  &__private {
    background-color: rgba(239, 68, 68, 0.12);
    color: #dc2626;
  }
  &__role {
    background-color: rgba(59, 130, 246, 0.12);
    color: #2563eb;
  }
  &__public {
    background-color: rgba(34, 197, 94, 0.12);
    color: #16a34a;
  }
}

.role-container {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.role {
  padding: 4px 12px;
  border-radius: var(--border-radius-md);
  font-size: 12px;
  font-weight: 500;
  i {
    margin-right: 6px;
  }
}

.admin {
  background-color: rgba(0, 49, 104, 0.12);
  color: #003168;
}

.commune {
  background-color: rgba(237, 68, 147, 0.12);
  color: #ed4493;
}

.commune-agent {
  background-color: rgba(245, 158, 11, 0.12);
  color: #f59e0b;
}

// SweetAlert2 custom styles
.swal2-cancel {
  color: #5d5d5d !important;
  background-color: #eaeaea !important;
}
