body {
  font-family: var(--font-family);
  background-color: #f5f7fb;
  color: var(--text-color);
}
.v-container {
  padding: var(--spacing-lg);
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
