body {
  font-family: var(--font-manrope);
  // background-color: var(--background-color);
  // color: var(--text-dark-color);
}
button {
  background: var(--color-primary);
  box-shadow: 0 3px 0 #ab1322;
  color: #fff;
  padding: 10px 20px;
  border-radius: var(--border-radius-sm);
  border: none;
  cursor: pointer;
  transition: all 0.15s;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    transform: translateY(2px);
    box-shadow: 0 1px 0 #ab1322;
  }
}
