body {
  font-family: var(--font-manrope);
  background-color: var(--background-color);
  color: var(--text-dark-color);
}
.v-container {
  // padding: var(--spacing-lg);
  &__header,
  &__body,
  &__footer {
    padding: var(--spacing-lg);
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: thin solid var(--border-color);
    min-height: var(--header-height);
    h2 {
      font-weight: bold;
    }
    p {
      font-size: var(--font-size-sm);
      color: var(--text-muted-color);
    }
  }
  &__body {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - var(--header-height) - var(--spacing-lg) - var(--spacing-base));
  }
}
