body {
  font-family: var(--font-montserrat);
  background-color: var(--color-background);
}
.v-container {
  padding: var(--space-md);
}
.v-container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.v-container__button {
  display: flex;
  gap: 1rem;
}
.v-pagination {
  margin-top: var(--space-md);
  display: flex;
  justify-content: flex-end;
}
.v-table {
  margin-top: var(--space-md);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius-md);
  overflow: hidden;
}
.v-table-header {
  background-color: var(--color-primary) !important;
  // border: thin solid var(--color-secondary) !important;
  color: var(--color-text-light);
}
