body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-dark-color);
}
.v-container {
  // padding: var(--spacing-lg);
  &__header,
  &__body,
  &__footer {
    padding: var(--spacing-lg);
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: thin solid var(--border-color);
    h2 {
      font-weight: bold;
    }
    p {
      font-size: var(--font-size-sm);
      color: var(--text-muted-color);
    }
  }

  .el-segmented {
    --el-segmented-item-selected-color: var(--el-text-color-primary);
    --el-segmented-item-selected-bg-color: #ffd100;
    --el-border-radius-base: 16px;
  }
}
