:root {
  --el-border-radius-base: 8px; /* button, input, card... */
  --el-border-radius-small: 6px;
  --el-border-radius-round: 999px; /* button round */
  --el-border-radius-circle: 50%;
}

.el-segmented {
  --el-segmented-item-selected-color: var(--el-text-color-primary);
  --el-segmented-item-selected-bg-color: #ffd100;
}
.el-form-item {
  margin-bottom: 25px;
}
