:root {
  --el-border-radius-base: var(--border-radius-md); /* button, input, card... */
  --el-border-radius-small: var(--border-radius-sm);
  --el-border-radius-round: 999px; /* button round */
  --el-border-radius-circle: 50%;
}

.el-segmented {
  --el-segmented-item-selected-color: var(--color-text-light);
  --el-segmented-item-selected-bg-color: var(--color-secondary);
}

.el-form-item {
  margin-bottom: 25px;
}
