:root {
  --el-border-radius-base: var(--border-radius-md); /* button, input, card... */
  --el-border-radius-small: var(--border-radius-sm);
  --el-border-radius-round: 999px; /* button round */
  --el-border-radius-circle: 50%;
  --el-dialog-bg-color: var(--color-background);
}
.el-overlay {
  background-color: rgba(163, 163, 163, 0.2);
  backdrop-filter: blur(4px);
}

.el-dialog__header {
  font-weight: bold;
  text-transform: uppercase;
}

.el-segmented {
  --el-segmented-item-selected-color: var(--color-text-light);
  --el-segmented-item-selected-bg-color: var(--color-secondary);
}

.el-form-item {
  margin-bottom: 25px;
}

.el-pagination {
  --el-pagination-bg-color: transparent;
  --el-pagination-text-color: var(--color-text-primary);
  --el-pagination-button-color: var(--color-text-primary);
  --el-pagination-button-disabled-color: var(--color-text-placeholder);
  --el-pagination-button-bg-color: transparent;
  --el-pagination-hover-color: var(--color-primary);

  &.is-background {
    .el-pager li:not(.is-disabled).is-active {
      background-color: var(--color-primary);
      color: var(--color-text-light);
    }

    .el-pager li:not(.is-disabled):hover {
      color: var(--color-primary);
    }
  }

  .el-pagination__sizes {
    .el-input.is-focus .el-input__wrapper {
      box-shadow: 0 0 0 1px var(--color-primary) inset;
    }
  }
}
.el-select__wrapper.is-focused {
  box-shadow: 0 0 0 1px var(--color-primary) inset;
}
.el-select-dropdown__item.is-selected {
  color: var(--color-primary);
}
.el-table th.el-table__cell {
  background-color: transparent;
}
