:root {
  --sidebar-width: 250px;
  --font-be-vietnam-pro: 'Be Vietnam Pro', 'Roboto', 'Helvetica Neue', Arial, sans-serif;

  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;

  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;

  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 12px;
  --border-radius: 16px;

  --box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

  --color-primary: #003168; // #ed2438;
  --color-secondary: #0f7ccf;
  --color-success: #22c55e;
  --color-warning: #f59e0b;
  --color-danger: #f06548;
  --color-info: #299cdb;
  --color-text-light: #f3f3f3;
  --color-text-dark: #111827;
  --color-background: #f2f4f7;
  --bg-gradient-primary: linear-gradient(135deg, #ed2438 0%, #ff5a7e 100%);
  --bg-gadient-secondary: linear-gradient(135deg, #0f7ccf 0%, #3aa0ff 100%);
}
